{{ if isset .Site.Params "projects" }}
{{ if .Site.Params.projects.enable }}
<section class="bar background-gray no-mb">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-center">
                <h2>{{ .Site.Params.projects.title }}</h2>
            </div>

            <p class="lead">
              {{ .Site.Params.projects.subtitle }}
            </p>

            <!-- *** BLOG HOMEPAGE *** -->

            <div class="row">
	      {{ range (where .Data.Pages "Section" "project") }}
	      <div class="col-md-4 col-sm-6">
                    <div class="box-image-text blog">
                        <div class="top">
                            <div class="image" style="overflow:hidden">
                                {{ if isset .Params "banner" }}
                                <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" class="img-responsive" alt="" >
                                {{ else }}
                                <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive" alt="">
                                {{ end }}
                            </div>
                            <div class="bg"></div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="{{ .Permalink }}" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> Read more</a>
                                </p>
                            </div>
                        </div>

                        <div class="content">
                            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                            <p class="intro">{{ .Summary }}</p>
                            <!--<p class="read-more">
                              <a href="{{ .Permalink }}" class="btn btn-template-main">Continue reading</a>
                            </p>-->
                        </div>
                    </div>
                    <!-- /.box-image-text -->

                </div>
                {{ end }}

            </div>
            <!-- /.row -->

            <!-- *** BLOG HOMEPAGE END *** -->

        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
