{{ if isset .Site.Params "team" }}
{{ if .Site.Params.team.enable }}
{{ if gt (len .Site.Data.team) 0 }}
{{ "<!-- Team Section -->" | safeHTML }}
<section id="team" class="bar background-gray no-mb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
	<div class="heading text-center">
          <h2>{{ .Site.Params.team.title }}</h2>
        </div>
        <p class="lead">
          {{ .Site.Params.team.subtitle }}
        </p>

	<!-- Begin Team Listing -->
	<div class="row flexbox{{ if .Site.Params.team.center }} flexbox-center{{ end }}">
	  {{ range sort .Site.Data.team "weight" }}
          <div class="col-sm-4 col">
            <div class="team-member">
              {{ if .image}}
              <img src="img/team/{{ .image }}" alt="{{ .name }}"
              class="img-responsive img-circle" />
              {{ else }}
              <img src="img/team/team00r.jpg" alt="{{ .name }}" class="img-responsive img-circle"/>
              {{ end }}
              <h3>{{ .name | markdownify }}</h3>
              {{ with .position }}
              <h4>{{ . | markdownify }}</h4>
              {{ end }}

	      {{ range .department}}
              <h5 class="dept">Department of {{ . | markdownify }}</h5>
              {{ end }}

              {{ with .livesIn }}
              <h5>Lives in {{ . | markdownify }}</h5>
              {{ end }}

              {{ with .scope }}
              <ul class="list-style-none">
		{{ range . }}
                <li>{{ . | markdownify }}</li>
		{{ end }}
              </ul>
              {{ end }}

              <ul class="list-inline social-buttons">
		{{ range .social }}
                <li><a href="{{ index . 1 }}"><i class="fa {{ index . 0 }}"></i></a></li>
		{{ end }}
              </ul>

              {{ with .bio }}
              <p class="team-bio">{{ . | markdownify }}</p>
              {{ end }}

            </div><!-- team-member -->
          </div><!-- col-sm-4 col -->
	  {{ end }} <!-- End team member cycle -->
	</div>
	<p class="lead">
	  {{ .Site.Params.team.description }}
	</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
